.profile__avatar-container {
  margin-right: 30px;
  max-height: 120px;
  height: 100%;
  max-width: 120px;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0);
  background-image: url(../../../images/avatar_btn.png);
  background-position: center;
  background-size: 26px 26px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 760px) {
  .profile__avatar-container {
    margin-right: 0;
  }
}
